<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <%-include('./partials/user-nav') %>
        
        <div class="container ">
            <div class="row">
                <div class="d-flex p-4">
                    <div class="col-md-6">
                        <h1>Our Story</h1>
                        <br>
                        <p>Introducing PhoneBazaar, the premier destination for cutting-edge smartphones in 2023! We are your
                            No.1 online marketplace for mobile phones, proudly serving customers throughout India. With a
                            whopping 10,500 sellers offering 300 top-notch brands, we've got something for every tech enthusiast
                        </p>
                        <p>
                            PhoneBazaar has more than 1 Million products to offer, growing at a very fast. Exclusive offers a
                            diverse assotment in categories ranging from consumer.
                        </p>
        
                        <br>
                        <h3>Why choose phone4U ? </h3>
                        <br>
                        <ul>
                            <li>
                                📱 Explore the latest and greatest mobile phones.
                            </li>
                            <br>
                            <li>
                                🌟 Supported by tailored marketing, data insights, and top-notch service.
                            </li>
                            <br>
                            <li>
                                🤝 Join our community of 3 million satisfied customers.
                            </li>
                        </ul>
                        <br>
                        <p>
                            Upgrade your mobile experience with Exclusive Mobiles - where innovation meets convenience
                        </p>
                    </div>
                </div>
               
              
                
            </div>
            
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
