<%-include('./partials/user-header') %>
<%-include('./partials/user-nav') %>

<div class="container p-5">
    <section class="text-center">
        <div class="card p-5  mt-5 bg-white border-radius shadow d-inline-block">
            
            <div class="p-5">
              <i class="fas fa-check-circle fa-lg" style="color: #399a39; font-size: 130px;"></i>
            </div>
            <h1 class="text-success">Thank You</h1>
            <dt>We received your purchase request;<br /> <br />we'll be in touch shortly!</dt>
            <br>
            <div >
              <a href="/user/trackOrder" class="btn btn-dark px-5 vw-80">Track Order</a>
            </div>
            <br>
              <a href="/user/userdashboard" class="text-dark fw-bold text-decoration-none">Go To Home</a>
        </div>
        </section>
</div>


<%-include('./partials/user-footer') %>