<%-include('./partials/user-header') %>
  <div class="navbar navbar-dark bg-dark"></div>

  <section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }

      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>


    <form action="/user/signup" method="POST" name="login" id="signupForm" onsubmit="return validateForm()">
      <div class="container py-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right" style="
                    background: hsla(0, 0%, 100%, 0.55);
                    backdrop-filter: blur(30px);
                    ">
              <div class="card-body p-5 shadow-5 text-center">
                <h2 class="fw-bold mb-5">Sign up now</h2>
                <div class="form-outline mb-4">
                  <input type="name" id="name" class="form-control" name="name" placeholder="Name" required />
                  <div id="usernameError" class="error" style="
                                font-family: Poppins;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #db4444;
                            "></div>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control" name="email" placeholder="Email Address"
                    required />
                  <div id="emailError" class="error"></div>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control" name="password" placeholder="Password"
                    required />
                  <label class="form-label" for="password">Password</label>
                  <small id="passwordValidationMessage" class="text-danger"></small>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                    placeholder="Confirm Password" required />
                  <label class="form-label" for="confirmPassword">Confirm Password</label>
                  <small id="confirmPasswordValidationMessage" class="text-danger"></small>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                <p  class="text-center text-muted mt-4" >
                  Already have an account? 
                  <a href="/user/login" id="resendLink" class="text-decoration-none ms-2">
                      Log-in
                  </a>
              </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="/images/Group 1000005940.png" class="w-100 rounded-4 shadow-4" alt="" />
          </div>
        </div>
      </div>
    </form> 
    

  </section>

  <script>
    function validateForm() {
      var username = document.getElementById('name').value.trim();
      var email = document.getElementById('email').value.trim();
      var password = document.getElementById('password').value.trim();
      var confirmPassword = document.getElementById('confirmPassword').value.trim();

      document.getElementById('usernameError').innerText = "";
      document.getElementById('emailError').innerText = "";
      document.getElementById('passwordValidationMessage').innerText = "";
      document.getElementById('confirmPasswordValidationMessage').innerText = "";

      var hasErrors = false;

      if (username === "") {
        document.getElementById('usernameError').innerText = "Username must be filled out";
        hasErrors = true;
      }

      if (email === "") {
        document.getElementById('emailError').innerText = "Email must be filled out";
        hasErrors = true;
      } else if (!/.+@.+\..+/.test(email)) {
        document.getElementById('emailError').innerText = "Invalid email address";
        hasErrors = true;
      }

      if (password === "") {
        document.getElementById('passwordValidationMessage').innerText = "Password must be filled out";
        hasErrors = true;
      } else if (password.length < 8 || !/\d/.test(password)) {
        document.getElementById('passwordValidationMessage').innerText = "Password must be at least 8 characters long and contain at least one numeric digit";
        hasErrors = true;
      }

      if (confirmPassword === "") {
        document.getElementById('confirmPasswordValidationMessage').innerText = "Please confirm your password";
        hasErrors = true;
      } else if (confirmPassword !== password) {
        document.getElementById('confirmPasswordValidationMessage').innerText = "Passwords do not match";
        hasErrors = true;
      }

      if (hasErrors) {
        return false;
      }

      return true;
    }
  </script>

  <%-include('./partials/user-footer') %>